.hero {
    padding: 200px 15px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1600px;
    height: 600px;
    background-repeat: no-repeat;
    background-size: 1600px auto;
    background-position: center;
    background-color: $reserv-bg-color;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero_bg_img.jpg);
    color: $primary-white-color;
    text-align: center;

    &__title {
        display: inline-block;
        max-width: 696px;
        margin: 0 auto;
        margin-top: 0;
        margin-bottom: 30px;

        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        letter-spacing: 0.06em;
        text-transform: uppercase;
    }
}
.button-primary--hero {
    @extend %button-primary;
    margin: 0 auto;
    transition: background-color $transitio-duration $trasition-timing-function;    
    
    &:hover,
    &:focus {
      background-color: $btn-hover-color;
    }
}