// .section__container {
//     margin: 0 auto;
//     max-width: 1200px;
//     padding-left: 15px;
//     padding-right: 15px;
// }
.section{
    padding: 60px 15px;

    @media screen and (min-width: 1200px) {
        padding: 94px 15px;
    }
}
.section__container {
    padding: 0 15px;
    margin: 0 auto;
    overflow-x: hidden;
    overflow-y: hidden;
    // outline: 1px solid red;

    @media screen and (min-width: 480px) {
        width: 480px;
        padding: 0;
    }

    @media screen and (min-width: 768px) {
       width: 768px; 
    }

    @media screen and (min-width: 1200px) {
        width: 1200px;
    }
}
.section--no-paddings{
    padding-left: 0;
    padding-right: 0;
}
.section__container--no-padding{
    padding: 0;
}
.section__title{
    margin-top: 0;
    font-weight: bold;
    line-height: 1.17;
    text-align: center;
    color: $title-text-color;

    @media screen and (min-width: 480px) {
        
        margin-bottom: 30px;
        font-size:28px;
    }
          
    @media screen and (min-width: 1200px) {
        
        margin-bottom: 50px;
        font-size:36px;
    }
}