// Palette
$primary-white-color: #ffffff;
$dark-bg-color: #2f303a;
$reserv-bg-color: #c4c4c4;
$dimm-bg-color: #f5f4fa;
$current-item-color: #2196f3;
$btn-hover-color: #188ce8;
$primary-text-color: #757575;
$title-text-color: #212121;
$footer-adress-color: rgba(255, 255, 255, 0.6);
$border-color: #eeeeee;
$icon-color: #afb1b8;
$soc-icon-bg-color: rgba(255, 255, 255, 0.1);
// Animation
$transitio-duration: 250ms;
$trasition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
// Fonts
$primary-font: Roboto, sans-serif;
$logo-font: Raleway;